.basket {
    position: fixed;
    height: auto;
    right: 10%;
    width: 350px;
    top: 100px; 
    background-color: #a195894f; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    border-radius: 8px; 

}
.basket-clear {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
}

.basket-clear:hover {
    background-color: #138496;
    border-color: #138496;
    color: #fff;
}

.remove-button {
    color: #000000;    
}

.remove-button:hover {
    font-weight: bold;
    transform: scale(1);
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 0;
    }
}

.error-message {
    font-size: 1rem;
    font-weight: bold;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.error-message.fade-out {
    animation: fadeOut 0.5s forwards;
}